
@{
    ViewData["Title"] = "DisplayStudents";
}

<h1>DisplayStudents</h1>

<table class="table">
    <tr>
        <td>Roll No</td>
        <td>
            @ViewBag.RollNo
        </td>
    </tr>
    <tr>
        <td>Your Name</td>
        <td>
            @ViewBag.Name
        </td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>
            @ViewBag.Gender
        </td>
    </tr>
    <tr>
        <td>City</td>
        <td>
            @ViewBag.City
        </td>
    </tr>
    <tr>
        <td>Selected Subjects</td>
        <td>
            @foreach (string s in ViewBag.Subjects)
            {
                <p>@s</p>
            }
        </td>
    </tr>
</table>


